* {
  font-family: "PT Serif", serif;
  font-family: Ethos;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
}

img {
  color: white;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-weight: 200;
}

ul {
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
}

li {
  padding: 20px;
}

html {
}

body {
  width: 100%;
  height: 100vh;
}

head {
  background-color: black;
  height: 15vh;
}

.key_visual_container {
  height: 85vh;
  display: flex;
  align-items: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://www.mercedes-benz.com/content/dam/brandhub/assets/innovation/concept-cars/vision-one-eleven/stage/06-2023/images/mercedes-benz-vision-111-stage-3840x2160-06-2023.cbv20230606193723.jpg/_jcr_content/renditions/mq7-original-aspect.jpeg");
  background-size: cover;
}

.key_visual_text {
  color: white;
  width: 30%;
  display: flex;
  padding-left: 70px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.key_visual_text h1 {
  font-size: 2.5rem;
}

button {
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  padding: 9px 25px 9px 25px;
}

article {
  font-family: MBCorpo Text, sans-serif;
  font-weight: 800;
  font-size: larger;
  color: aliceblue;
  height: 85vh;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 70px;
  margin: none;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://www.mercedes-benz.com/content/dam/brandhub/assets/sustainability/responsibility/pride/homepage-stage/06-2023/images/mercedes-benz-pride-campaign-homepage-stage-3840x2160-06-2023.cbv20230630081850.jpg/_jcr_content/renditions/mq8-original-aspect.jpeg);
  background-size: cover;
}

nav ul {
  display: flex;
  justify-content: space-around;
  /* background-color: #3a1b08; */
  padding: 30px;
  margin: 0;
  list-style: none;
}

nav ul a {
  color: rgb(234, 230, 233);
  text-decoration: none;
}

nav ul a:hover {
  color: #181b1b;
  transition: 0.3s;
}

.menu1 {
  color: white;
  background-color: #000000;
}

.menu2 {
  color: white;
  background-color: rgba(165, 42, 42, 0.631);
}

footer {
  font-style: normal;
  color: rgba(255, 255, 255, 0.878);
  background-color: #000000;
}

#logo1 {
  justify-content: center;
  text-align: center;
}

#logo2 {
  justify-content: center;
  text-align: center;
}
